/* override */
.reveal .slides {
  text-align: unset;
}

.reveal .slides .center {
  text-align: center;
}

@media(min-width : 960px) {
  .reveal .slides {
    width: 95% !important;
  }
}

.reveal .progress {
	background: rgba(0,0,0,0.2);
	color: #0079A5;
}

.reveal code {
  padding: 1em !important;
}

/* jumbotron */
.jumbotron {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em !important;
  margin-bottom: 20px !important;
  color: #FFF !important;
  text-align: left;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  text-align: right;
  color: #FFF !important;
}

.jumbotron a {
  color: #FFF !important;
  text-decoration-line: underline;
}

/* caption */
.caption {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* dl-horizontal */
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* dl-small */
.dl-small {
  font-size: 0.6em !important;
}

.dl-horizontal dd {
  margin-left: 180px;
}

/* avatar */
.avatar {
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background-size: cover;
  color: #FFF;
  vertical-align: middle;
  margin: 0 !important;
}